<!DOCTYPE html>
<html>
<head>
  {% block head %}
  <title>{% block title %}{% endblock %} cinemamvcobjet </title>
  {% endblock %}
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Anta&family=Courgette&display=swap" rel="stylesheet">
    <style>
    header{
        font-family: 'Anta', sans-serif;
        font-size: 30px;
        text-align: center;
        color: pink;
        background : url(./ciel.jpg) ;      
        
    }
   

  body {
     font-family: "Anta", sans-serif;
     display:block;
     justify-content:center;
      
  }

</style>
</head>

<body>
    <header>
        <h1>Welcome to Gaumont Pathé </h1>

        <button><a href="http://localhost/cinemamvcobjet/acteurs">Liste acteurs</a></button>
        <button><a href="http://localhost/cinemamvcobjet/realisateurs">Liste realisateurs</a></button>
        <button><a href="http://localhost/cinemamvcobjet/films">Liste films</a></button>
        <button><a href="http://localhost/cinemamvcobjet/genres">Genre de film</a></button>
        <button><a href="http://localhost/cinemamvcobjet/addacteur">Ajouter un acteur</a></button>
        <button><a href="http://localhost/cinemamvcobjet/addfilm">Ajouter un film</a></button>
        <button><a href="http://localhost/cinemamvcobjet/addgenre">Ajouter un genre</a></button>
        <button><a href="http://localhost/cinemamvcobjet/addrealisateur">Ajouter un réalisateur</a></button>
        <button><a href="http://localhost/cinemamvcobjet/inscription">Inscription</a></button>
        <button><a href="http://localhost/cinemamvcobjet/connexion">Connexion</a></button>
        
        <br />
        <br />
        <br />
    </header>
<div id="content">
{% block content %}
{% endblock %}</div>
</body>

</html>