<?php
require 'src/view/header.php';
?>
<form action="../updatefilm" method="POST">
    <input type="text" name="titre" value="<?= $film->getName() ?>">
    <input type="text" name="date_de_sortie" value="<?= $film->getDate() ?>">
    <input type="text" name="une_affiche" value="<?= $film->getAffiche() ?>">
    <input type="hidden" name="id_film" value="<?= $film->getId() ?>">

    <select name="id_genre">
        <?php
        foreach ($genres as $g) { ?>
            <option value=<?= $g->getId() ?>   
            <?php if ($film->getGenre()->getId() == $g->getId()) {
                    echo " selected";
                } ?>
            > <?= $g->getGenre() ?>
               </option>
        <?php } ?>
    </select>


    <select name="id_realisateur">
        <?php
        foreach ($realisateurs as $r) { ?>
            <option value=<?= $r->getId() ?>
            <?php if ($film->getRealisateur()->getId() == $r->getId()) {
                    echo " selected";
                } ?>
            
            > <?= $r->getNom() ?>     <?= $r->getPrenom() ?> </option>
        <?php } ?>
    </select>



    <input type="submit" value="ajouter">
</form>